@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --primary : #FFD102;
    --primary-light : #FFED9A;
    --secondary : #F7971E;
    --dark : #000000;
    --pure : #ffffff;
    --bg-color : #343433;
}

html{
  scroll-behavior: smooth;
}
  
.swiper-slide {
    width: 100%;
    height : 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}