.seller-wrapper{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-image: url('/public/images/seller-bg.png');
    background-size: cover;
    background-color : var(--bg-color);
}